/* Desktop */
@font-face {
    font-family: "Holmesh";
    src: url("../fonts/Holmesh.otf");
}

body{
    color: rgb(0, 0, 0);
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;  
}

p{
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
}

h3{
    font-family: serif;
    font-size: 22px;
}

hr{
    color: rgb(224, 224, 224);
    border-color: rgb(224, 224, 224);
    background: rgb(224, 224, 224);
    margin-right: 10px;
    height: 1px;
    opacity: 0.5;
}

.central{
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197, 199, 201);
    gap: 10px;
}

.titulo-container{
    width: 100%;
    background-color: rgb(247, 249, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(208, 208, 212);
    padding-top: 20px;
    padding-bottom: 10px;
}

.paragrafos-container{
    margin-left: 10px;
    padding-right: 15px;
}

#foto-pessoal{
    user-select: none;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(45, 111, 255);
    border-radius: 100px;
   /* box-shadow: 0px 0px 10px #1279ff; */
}

#nome-titulo{
    color: rgb(27, 101, 236);
    font-weight: bold;
    font-size: 54px;
    font-family: "Holmesh", serif;
    padding-bottom: 10px;
    user-select: none;
}

#contatos-label{
    color: rgb(85, 102, 199);
    font-weight: bold;
    font-size: 22px;
    font-family: serif;
    margin-bottom: 10px;
}

.contato{
    font-family: sans-serif;
    color: rgb(48, 121, 111);
    font-weight: bold;
    font-size: 16px;
}

@media (min-width:1024px){
    .central {
        height: 500px;
        align-items: center;
    }
    .titulo-container{
        height: 100%;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #foto-pessoal{
        margin-top: 70px;
    }
}

/* Tablet */
@media (max-width:1024px) and (min-width:768px){
    .central{
        flex-direction: column;
    }
}

/* Smartphone */
@media (max-width:768px) and (min-width:0px){
    .central{
        flex-direction: column;
    }
}
